Flask
Flask-Login
Flask-SQLAlchemy
Flask-Bcrypt
SQLAlchemy
authlib
requests
Werkzeug
gunicorn
Flask-Mail
Flask-Babel
tensorflow
soundfile
numpy<2.0
noisereduce
psycopg2-binary
cloudinary
tensorflow-text